body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.main{

  width: 500px;
  height: 300px;
  background-color: #FA8072;
  margin-left: auto;
  margin-right: auto;
}

.panel-1{
  width: 500px;
  text-align: center;
  margin-bottom: 20px;  
  color: #556B2F;
  background-color: #FFDAB9;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 10px 15px;
}

.panel-2{
  width: 500px;
  text-align: center;
  margin-bottom: 20px;  
  color: #4682B4;
  background-color: #C0C0C0;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 10px 15px;
}